<!DOCTYPE html>
<!-- toto -->
<html xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org"
   xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<!-- <head th:insert="layouts/generalhead::~{}"></head> -->

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  
   <!--   <link th:href="/static/css/style.css" rel="stylesheet" />  -->
   <link th:href="@{/css/style.css}" rel="stylesheet" />
     <title>admin</title>
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Trade</h3>
                <strong>TRD</strong>
            </div> <!-- sidebar-header -->
<div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">Username</span></b>
  &nbsp;
 <!--    <i><span sec:authentication="principal.authorities">Roles</span></i> -->
    
</div> <!-- isAuthenticated -->
            <ul class="list-unstyled">
                <li class="active">
                    <a href="#articles" data-toggle="collapse" aria-expanded="false" class="dropdown">
                        <i class="fas fa-sitemap"></i>
                        Articles>
                    </a>
                    <ul class="collapse list-unstyled components" id="articles">
                        <li>
                            <a href="#">Series</a>
                        </li>
                        <li>
                            <a href="#">Articles</a>
                        </li>
                        
                    </ul>
                </li>
                <li>
                    <a href="#users" data-toggle="collapse" aria-expanded="false" class="dropdown users">
                        <i class="fas fa-address-card"></i>
                        Users>
                    </a>
		    <ul class="collapse list-unstyled components" id="users">
                        <li>
                            <a href="/admin/userlist" id="userlist">List</a>
                        </li>
                        
						<li>
                            <a href="#">Profil</a>
                        </li>
			<li>
                            <a href="#">Messages</a>
                        </li>
		    </ul>
		</li>
		<li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown">
                        <i class="fas fa-child"></i>
                        Publicity>
                    </a>
                    <ul class="collapse list-unstyled components" id="pageSubmenu">
                        <li>
                            <a href="#">Promotion</a>
                        </li>
                        <li>
                            <a href="#">Loyalty</a>
                        </li>
                        <li>
                            <a href="#">Partner sites</a>
                        </li>
                    </ul>
                </li>
                <li>
                     <a href="#payment" data-toggle="collapse" aria-expanded="false" class="dropdown">
                        <i class="fas fa-credit-card"></i>
                        Payment>
                        </a>
                    <ul class="collapse list-unstyled components" id="payment">
                        <li>
                            <a href="#">Blue cards</a>
                        </li>
                        <li>
                            <a href="#">Paypal</a>
                        </li>
                        
                    </ul>
                      
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        FAQ
                    </a>
                </li>
               
                  
            </ul>

        </nav>
        
        <!-- Bandeau -->
	<div id="bandeau">

	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn-sm navbar-btn" >
                      <i class="fas fa-align-center" style="color:#fff;" ></i>
		      <!-- <span> Resize menu </span> -->
		    </button>
	 	    <form th:action="@{logout}" method="post">
      		  		<input type="submit" value="logout"/>
      		  </form>
     				  
		</div> <!-- "container-fluid" -->
	  </nav> <!-- navbar -->

	</div> <!-- bandeau -->
	
	<!-- Bread Crumb -->
	<div id="bread-crumb">
	  <nav aria-label="breadcrumb">
	    <ol class="breadcrumb">
	      <li class="breadcrumb-item"><a href="#">Home</a></li>
	    </ol>
	  </nav>
	  
	</div> <!-- Bread Crumb -->
<!-- wrapper is still open -->
