<div id="content">

      
	<table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
<!--                 <td th:text="${user.id}">id</td>  -->
                <td th:text="${user.userName}">name</td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>   
                <td th:text="${user.role}"> </td> 
                <td>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                 	<a href="#" ><i class="fas fa-pencil-alt"></i></a> 
<!--                <a th:href="@{userProfil}{(id=${user.id})}" class="fas fa-eye"></a> -->
                    <a th:href="@{userProfil}"><i class="fas fa-eye"></i> </a>
                </td> 
            </tr>
        </tbody>
    </table>
   


</div>  <!--Content -->

 <script type="text/javascript">
 $(document).ready(function () {
	$('#users').attr('class', 'list-unstyled components');
	$('#userList').css('color', '#555753');
	$('#userList').css('background', 'white');
});
</script>




